{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
  <div class="catalog">
    <section class="list-categories">
      <h2>Categories</h2>
      <ul>
        {% for category in categories %}
        <li>
          <a class="link2" href="{{url_for('categoryList', category_id = category.id)}}">
            {{category.name}}
          </a>
        </li>
        {% endfor %}
      </ul>
    </section>

    <section class="list-items">
      <h2>{{category.name}} Items ({{countItems}})</h2>
      <ul>
        <li>
          <a class="link4 add-item" href="{{url_for('newCategoryItem')}}">
            Add Item
          </a>
        </li>
        {% for i in items %}
        <li>
          <a class="link2" href="{{url_for('itemDisplay', category_id = i.category.id, item_id = i.id)}}">
            <span class="item-title">{{i.title}}</span>
          </a>
        </li>
        {% endfor %}
      </ul>
    </section>
  </div>
{% endblock %}
